<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Wedding Quiz</title>
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower|Lobster' rel='stylesheet' type='text/css'>
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="/qrcode.min.js"></script>
	<script>GAME_ID = <%= gameId %>;</script>
	<script src="timer.js"></script>
	<script src="board.js"></script>
	<style>
		html, body {
			width: 100%;
			height: 100%;
			position: absolute;
			margin: 0;
			padding: 0;
		}
		#player-link {
			position: absolute;
			bottom: 10px;
			right: 10px;
			background-color: #fff;
			padding: 10px;
		}
		#slideshow {
		    position: absolute;
		    top: 0;
		    bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
		}
		
		#slideshow > div {
		    position: absolute;
			opacity: 0;
			width: 100%;
			height: 100%;
			transition: opacity 1s ease;
		}
		#slideshow > div:first-child {
			opacity: 1;
		}
		
		#slideshow img {
			display: block;
			margin: auto;
		}
		#slideshow img.wide {
		    width: 100%;
		    max-height: 100%;
		    height: auto;
		}
		#slideshow img.tall {
		    height: 100%;
		    max-width: 100%;
		    width: auto;
		}​
		.progress {
			width: 100%;
			position: absolute;
		}
		.progress-step.okay {
			background-color: lime;
		}
		#progress-bar {
			position: absolute;
			top: 0;
			left: 0;
			background-color: #3E3;
			width: 0;
			height: 10px;
		}
		.frontpage {
			background-color: #FFF;
			border: 2em solid transparent;
			font-family: 'Indie Flower', cursive;
			text-align: center;
			font-size: 48px;
			width: 100%;
			box-sizing: border-box;
		} 
		.frontpage h1 {
			font-size: 3em;
			padding: 0;
			margin:0.5em;
		}
		.frontpage p {
			text-align: center;
			padding: 1em 2em;
		}
  </style>
</head>
<body>
	<div id="slideshow">
		<div class="frontpage">
			<h1>Wedding Quiz!</h1>
			<p>Accedi alle domande inquadrando con il telefonino il QR Code qui sotto: ogni risposta corretta
			vi farà guadagnare nuove foto da mostrare! Non sapete le risposte? Provate a chiedere agli interessati!</p>
		</div>
	<% photos.forEach(function(name) { %>
	   	<div>
	    	<img src="/photos/<%= name %>">
	   	</div>
	<% }); %>
	</div>
	
	<div class="progress">
		<div id="progress-bar">&nbsp;</div>
	</div>
	<a href="/<%= gameId %>/question" target="_new" id="player-link">
		<div id="player-qrcode"></div>
	</a>
</body>
</html>
