<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Wedding Quiz</title>
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="/qrcode.min.js"></script>
	<script>GAME_ID = <%= gameId %>;</script>
	<script src="board.js"></script>  	
	<style>
		#slideshow { 
		    margin: 50px auto; 
		    position: relative; 
		    width: 820px; 
		    height: 420px; 
		    padding: 10px; 
		    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
		}
		
		#slideshow > div { 
		    position: absolute; 
		    top: 10px; 
		    left: 10px; 
		    right: 10px; 
		    bottom: 10px; 
		}		
		#player-link {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
		#progress {
			width: 800px;
		}
		.progress-bar {
			height: 2em;
			background-color: slategray;
			display: inline-block;
			box-sizing: border-box;
			width: 25%;
			border: 2px solid #FFF;
			transition: background-color 2s ease;
		}
		.progress-bar.okay {
			background-color: lime;
		}
  </style>
</head>
<body>
	<div id="slideshow">
		<% photos.forEach(function(name) { %>
	   	<div>
	    	<img src="/photos/<%= name %>" width="800">
	   	</div>
	<% }); %>		   
	</div>
	
	<div id="progress">
		<div class="progress-bar">&nbsp;</div><div class="progress-bar">&nbsp;</div><div class="progress-bar">&nbsp;</div><div class="progress-bar">&nbsp;</div>
	</div>
	<a href="/<%= gameId %>/question" target="_new" id="player-link">
		<div id="player-qrcode"></div>
	</a>
</body>
</html>